{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Calories Tracker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
{% include "home/navbar.html" %}
<div class="main">
{% if user.is_authenticated %}
<div class="nav-tracker">
    <div class="container-fluid" style="margin-top: 20px; margin-bottom: 50px;">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6 col-lg-3" ><a id="normal" href="{% url 'caloriestracker' %}">記録</a></div>
            <div class="col-12 col-sm-6 col-lg-3" ><a id="normal" href="{% url 'profile' %}">ゴール管理</a></div>
            <div class="col-12 col-sm-6 col-lg-3" ><a id="normal" href="{% url 'add_food' %}">Food List</a></div>
            <div class="col-12 col-sm-6 col-lg-3" id="add-food-button" style="margin-top: 0; margin-bottom: 20px;"><a href="{% url 'select_food' %}">リストから追加</a></div>
        </div>
    </div>
</div>
    <div class="container" style="padding-top: 20px; border-top: solid 2px gray ;">
        <div class="row">
            <div class="col-lg-6">
                <div class="login">
                    <div class="login-screen">
                        <div class="app-title">
                            <h1 class="headline">Add Food</h1>
                            <p class="small-description">食べ物の情報を入力してください!</p>
                        </div>

                        <form method="POST" action="" class="login-form form-inline">
                            {% csrf_token %}

                            {% for field in form %}
                                <h5 class="form-labels" style="margin-right: 80%; float: left; margin-top: 15px;">
                                    {{ field.label }}
                                </h5>
                                {{ field }}

                            {% endfor %}
                            <br>
                            <input class="btn mt-2" type="submit" value="Add" style="width: 70%; margin-top: 25px; font-size: 20px; font-weight: 600;">
                        </form>

                    </div>

                </div>
            </div>
            <div class="col-lg-6 ">
                <div class="login">
                    <div class="login-screen">
                        <form method="get">
                            <h1 class="headline">{{ myFilter.form }}</h1>
                            <p class="small-description">追加済みの食べ物を検索</p>
                            <button class="btn mt-2" type="submit" style="width: 80%; margin-top: 25px; font-size: 20px; font-weight: 600;">Search</button>
                        </form>
                    </div>
                </div>

                <h1 class="headline" style="padding-top: 40px;"> Food List</h1>
                <table class="table table-bordered text-center mt-3">
                    <thead class="thead-dark">
                    <tr>
                    　　<th scope="col">食料</th>
                　　　　<th scope="col">カロリー</th>
                　　　　<th scope="col">量</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for food in food_items %}
                        <tr style="font-size: 18px;">
                            <td style="font-weight: 600;">{{ food.name }}</td>
                            <td>{{ food.calorie }}</td>
                            <td>{{ food.quantity }}</td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% else %}
    <h1>You have to login first</h1>
    <a class="nav-link" href="{% url 'login' %}">Login</a>
{% endif %}
</div>
</body>

</html>