{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>HealthBook - Mental Health</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
{% include "home/navbar.html" %}
<div class="vertical-navbar">
    <ul>
        <li id="physical-health-button"><a href="{% url 'physicalhealthinfo' %}">身体的疾患</a></li>
        <li id="mental-health-button"><a href="{% url 'mentalhealthinfo' %}">精神的疾患</a></li>
    </ul>
</div>
<div class="main" id="healthbook">
    <div class="md-form active-pink active-pink-2 mb-3 mt-0">
    <form action="{% url 'mentalhealthsearch' %}" method="GET">
        <svg id="search"style="fill: #2E9D65;" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="# #2E9D65" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
          </svg>
        <input  id="form-healthbook" class="search-input" type="text" name="q" placeholder="Search">
    </form>
    </div>
    <div class="row">
    {% for mentaldisease in mentaldiseases %}
        <div class="col-lg-4 col-md-6">
            <a href="{% url 'mentaldetail' mentaldisease.id %}">
            <div class="article" id="small-articles">
                <img class="img-thumbnail" src="{% static 'img/note.png' %}" alt="thumbnail"><br>
                <h4><a href="{% url 'mentaldetail' mentaldisease.id %}">{{ mentaldisease.name }}</a></h4>
                <a href="{% url 'mentaldetail' mentaldisease.id %}">Read more</a>
            </div>
            </a>
        </div>
    {% endfor %}
    </div>
</div>
</body>

</html>